layout {

    focus-ring {
        active-color   "#4e70c2"
        inactive-color "#f0f2f7"
        urgent-color   "#e55561"
    }

    border {
        active-color   "#4e70c2"
        inactive-color "#f0f2f7"
        urgent-color   "#e55561"
    }


    tab-indicator {
        active-color   "#4e70c2"
        inactive-color "#cdd4e4"
        urgent-color   "#e55561"
    }

    insert-hint {
        color "#4e70c280"
    }
}

recent-windows {
    highlight {
        active-color "#4e70c2"
        urgent-color "#e55561"
    }
}
