// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

spawn-at-startup "noctalia"
spawn-at-startup "fcitx5"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"   

// 实例一：用于常规工作区背景（默认命名空间）
spawn-at-startup "awww-daemon"

// 实例二：用于概览背景（自定义命名空间为 "backdrop"）
spawn-at-startup "awww-daemon" "--namespace" "backdrop"

spawn-at-startup "~/.config/niri/scripts/set-wallpaper.sh"
